.main {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  width: 100%;
  .wishListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
  }
}
